// src/pages/DashboardPage.module.scss
@use '/src/assets/styles/mixings' as mixins;

.pageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.button,
.logoutButton,
.actionButton,
.deleteButton {
    @include mixins.button-primary;
    margin: 0;
}

.logoutButton {
    background-color: var(--background-color-light);

    &:hover {
        background-color: var(--background-color-lightest);
    }
}

.actionButton {
    margin-right: 0.5rem;
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
}

.deleteButton {
    @extend .actionButton; // Hereda estilos de actionButton
    border-color: #c0392b;
    color: #c0392b;

    &:hover {
        background-color: rgba(192, 57, 43, 0.1);
    }
}

.projectsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;

    th {
        border-bottom: 2px solid var(--primary-color);
        padding: 0.8rem;
        text-align: left;
        color: var(--text-color-lightest);
    }

    td {
        border-bottom: 1px solid var(--background-color-light);
        padding: 0.8rem;
    }
}