// src/components/layout/Footer/Footer.module.scss
@use '../../../assets/styles/variables' as var;

.footer {
    text-align: center;
    padding: 2rem 1.5rem;
    margin-top: 6rem;
    font-size: 0.875rem;
    color: var.$color-slate;
    border-top: 1px solid var.$color-light-navy; // Separador visual del contenido
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footerLink {
    color: var.$color-green; // Usamos una variable de SCSS
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}