// src/components/layout/Footer/Footer.module.scss
@use '../../../assets/styles/variables' as vars;

.footer {
    text-align: center;
    padding: 2rem 1.5rem;
    margin-top: 6rem;
    font-size: 0.875rem;
    color: vars.$color-text-secondary;
    border-top: 1px solid vars.$color-bg-border;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footerLink {
    color: vars.$color-accent;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
