.form-container {
    max-width: 600px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
        color: var(--text-color-light);
        font-weight: 600;
    }

    input,
    textarea,
    select {
        background-color: var(--background-color-light);
        border: 1px solid var(--background-color-lightest);
        border-radius: 4px;
        padding: 0.75rem;
        color: var(--text-color-lightest);
        transition: border-color 0.2s ease-in-out;
        width: 100%;

        &:focus {
            outline: none;
            border-color: var(--primary-color);
        }
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%232188c9' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 1em;
        padding-right: 2.5rem;
    }
}