/* Simple SCSS Reset */

// Box-sizing border-box a todo
*,
*::before,
*::after {
    box-sizing: border-box;
}

// Reset de márgenes y paddings
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
    margin: 0;
    padding: 0;
}

// Hace que los elementos de lista no tengan viñetas por defecto
ul,
ol {
    list-style: none;
}

// Configuración base del body
body {
    min-height: 100vh;
    line-height: 1.6;
    text-rendering: optimizeSpeed;
}

// Las imágenes son más fáciles de manejar
img,
picture {
    max-width: 100%;
    display: block;
}

// Los elementos de formulario heredan las fuentes
input,
button,
textarea,
select {
    font: inherit;
}